@font-face {
  font-family: "PixelMix";
  src: url("../static/pixelmix.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: linear-gradient(#000000bb, #000000),
    url("../static/background.png") repeat top center;
  font-family: "PixelMix";
  -webkit-app-region: drag;
  backdrop-filter: blur(4px);
  height: 100vh;
}

.iconBtn {
  -webkit-app-region: no-drag;
  background: #00000090;
  padding: 5px;
  margin: 2px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  color: white;
}
.iconBtn:hover {
  background: #ffffff40;
  transition: 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  text-align: center;
}

.title {
  font-size: 56px;
}

.secondary-title {
  font-size: 24px;
  margin-top: 8px;
  color: rgb(148, 153, 237);
}

.title-container {
  padding: 25px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.flex-spacer {
  flex: 1;
}

.btn-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  width: 50px;
  height: 50px;
}
